<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>login to resturant dashboard </title>
    <style>
        @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

        body {
            background-image: url('../img/4.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            font-family: 'Open Sans', sans-serif;
        }

        .login {
            width: 700px;
            margin: 16px auto;
            font-size: 16px;
        }

        .login-header,
        .login p {
            margin-top: 0;
            margin-bottom: 0;
        }

        .login-triangle {
            width: 0;
            margin-right: auto;
            margin-left: auto;
            border: 12px solid transparent;
            border-bottom-color: rgba(5, 3, 3, 0.5);
        }

        .login-header {
            background: rgba(5, 3, 3, 0.5);

            padding: 20px;
            font-size: 1.4em;
            font-weight: normal;
            text-align: center;
            text-transform: uppercase;
            color: white;
        }

        .login-container {
            background: rgba(5, 3, 3, 0.7);
            padding: 12px;
        }

        .login p {
            padding: 12px;
        }

        .login input {
            box-sizing: border-box;
            display: block;
            width: 100%;
            border-width: 1px;
            border-style: solid;
            padding: 16px;
            outline: 0;
            font-family: inherit;
            font-size: 0.95em;
        }

        .login input[type="email"],
        .login input[type="password"] {
            background: #fff;
            border-color: #bbb;
            color: #555;
        }

        .login input[type="email"]:focus,
        .login input[type="password"]:focus {
            border-color: #888;
        }

        .login input[type="submit"] {
            background: rgb(226, 32, 32);
            border-color: transparent;
            color: #fff;
            cursor: pointer;
        }

        .login input[type="submit"]:hover {
            background: rgb(233, 52, 52);
        }

        .login input[type="submit"]:focus {
            border-color: #05a;
        }
    </style>
</head>

<body>
    <div class="login">
        <div class="login-triangle"></div>

        <h2 class="login-header">Log in</h2>

        <form class="login-container" method="POST" action="login/admin">
            <p><input type="email" name="email" placeholder="Email" required></p>
            <p><input type="password" name="password" placeholder="Password" required></p>
            <p><input type="submit" value="Log in"></p>
        </form>
    </div>
</body>

</html>