<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <style>
        * {
            padding: 0px;
            margin: 0px;
        }

        body {
            background-image: url("/img/4.jpg");
            background-size: 100% 100%;
        }

        ul {
            list-style-type: none;
        }

        li {
            float: left;
            margin-left: 3%;
            margin-top: 0.7%;
        }

        a {
            text-decoration: none;
            color: black;
            font-size: 24px;
        }

        a:hover {
            color: red;
        }

        .contain {
            background-color: white;
            width: 100%;
            height: 50px;
        }

        .meal {
            padding-top: 3%;
            width: 40%;
            background-color: black;
            opacity: 0.9;
            margin: auto;
            padding-left: 6%;
            padding-bottom: 3%;

        }

        .inp2 {
            padding: 10px;
            width: 83%;
            margin-top: 7%;
            background-color: red;
            color: azure;
            font-size: 18px;
            border-style: none;
        }

        .inp1 {
            padding: 5px;
            margin-top: 8%;
            width: 80%;
            height: 30px;
        }
    </style>
</head>

<body>
    <div class="contain">
        <ul>
            <li><a href="/login/home">Resturant Application</a></li>

            <li><a href="add">Add Meal</a></li>
            <li><a href="/login/order/list">List Orders</a></li>
        </ul>
    </div>

    <div class="meal">
        <form method="post" action="add/detail">
            <input class="inp1" type="text" name="name" placeholder="meal name" required />
            <input class="inp1" style="height:60px" type="text" name="description" placeholder="meal description"
                required />
            <input class="inp1" type="text" name="price" placeholder="meal price" required />
            <input class="inp1" type="text" name="img" placeholder="meal img" required />

            <input class="inp2" type="submit" />
        </form>
    </div>
</body>

</html>